@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@900&family=Titillium+Web&display=swap");

.page-section {
  display: block;
  overflow: hidden;
}

.section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 200px 0;
}

.section-hero {
  padding-top: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.section-biscuit {
  background: #fbfbfd;
}

.section-work {
  background: #000;
  color: #fff;
}

.section-cool {
  background: #fbfbfd;
}

.flex-row {
  flex-flow: row wrap;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.profile-image {
  width: 550px;
  height: 275px; 
  clip-path: circle();
  overflow: hidden; 
  object-fit: cover;
  object-position: 0 38%;
}

.profile-heading {
  margin-bottom: 0;
  font-size: 64px;
}

.profile-caption {
  color: #86868b;
  margin: 0;
}

.profile-intro {
  font-size: 24px;
  width: 80%;
  margin: 50px auto;
}

/* logo  */
#header {
  font-family: "Heebo", sans-serif;
  font-size: 20px;
  padding: 5px 0 5px 0;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
}
/* end logo  */

#subHeader {
  font-family: "Heebo", sans-serif;
  line-height: 80%;
  margin: 0;
  text-align: left;
  font-size: 100px;
  color: white;
}

button {
  background-color: grey;
  border-radius: 4px;
  margin-top: 18px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(92, 91, 91);
}

#npx-package {
  align-self: left;
  padding: 10px;
  color: black;
  text-align: left;
  max-width: fit-content;
  font-size: 20px;
  margin-bottom: 0;
}

#info-disclaimer {
  font-family: "Titillium Web", sans-serif;
  font-size: 15px;
  color: #d3d3d3;
  line-height: 50%;
  animation-name: pop-up;
  animation-duration: 10s;
}

@keyframes pop-up {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#logo {
  display: flex;
  flex-direction: row;
  padding: 20px 20px 20px 50px;
  top: 0;
  left: 0;
  height: fit-content;
}

@media only screen and (max-width: 850px) and (min-width: 601px) {
  body {
    background: linear-gradient(105deg, #282c34 60%, #ffc30b 60%) no-repeat;
    min-height: 100vh;
  }

  /* .page-section {
    background: linear-gradient(105deg, #282c34 55%, #ffc30b 55%);
    flex-direction: column;
    min-height: 100vh;
  } */

  .left-site-content {
    margin-left: 50px;
  }
  .right-side-content {
    margin-right: 0;
  }

  #subHeader {
    font-size: 80px;
    text-align: left;
  }
  button {
    display: none;
  }

  button:hover {
    display: none;
  }

  #npx-package {
    display: none;
  }

  #info-disclaimer {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  /* .page-section {
    background: linear-gradient(150deg, #282c34 55%, #ffc30b 55%);
    flex-direction: column;
  } */

  #subHeader {
    font-size: 40px;
    text-align: center;
  }

  #logo {
    padding: 10px 10px 10px 10px;
  }

  button {
    display: none;
  }

  button:hover {
    display: none;
  }

  #npx-package {
    display: none;
  }

  #info-disclaimer {
    display: none;
  }
}
